/* CSS Checklist */
/* 1. General CSS Topics */
/* 2. CSS Selectors */
/* 3. CSS Validation */

:root {
    --main-bg-color: gray;
    --primary-text-color: #423
}

body {
    background-color: var(--main-bg-color, gray);
    color: var(--primary-text-color, black);
}

body {
    font-size: 2rem;
    padding: 2em;
    margin: 4%;
}

h1:hover {
    width: 300;
    height: 120;

    position: static;
}

footer {
    font-size: 20pt;

    position: fixed;
}

section {
    background: linear-gradient(to right, #3eee, #feb47b);
}

h1 {
    color: rgb(240, 246, 220)
}

h2 {
    color: hsl(200, 100%, 70%);
}

h3 {
    color: color(display-p3 0.4 0.6 0.8 / 1);
}

h4 {
    color: lightpink;
    text-align: left;
    text-decoration: overline;
}

p {
    color: color-mix(in srgb, yellow 60%, pink 40%);
    display: inline;
}

nav {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 10px;
    margin: 20px 10px 10px 5px;
    margin: auto;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding: 10px 10px 10px 10px;

    display: block;
}

section {
    border-style: solid;
    border-color:hsl(200, 100%, 70%);
    border-width: 2px;
    border-radius: 6px;

    width: 260px;
    height: 130px;
    max-width: 600px;
    min-width: 260px;
}

button:active {
    color: white;
}



